# Maven build output
**/target/
**/.mvn/wrapper/maven-wrapper.jar
**/mvnw
**/mvnw.cmd

# IntelliJ IDEA
**/.idea/
**/*.iml
**/*.iws
**/*.ipr
**/out/

# Spring Boot
**/application-local.properties
**/*.log

# Environment & Secrets
**/.env

# OS
.DS_Store
Thumbs.db
**/HELP.md